{% extends 'news/layout.html' %}
{% block content %}
    {% for i in page_obj %}
        <a href="{% url 'news_detail' i.slug %}">{{ i.title }} <br></a>
        {{ i.short_description }}<br>
        {{ i.description }}<br>
        просмотры: {{ i.total_views }}<br>
        рейтинг {{ i.rating_sum }}<br><br>
        <hr>
    {% endfor %}
    <div class="paginate">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page=1">1</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">&lt</a></li>
            {% endif %}

            {% if page_obj.has_other_pages %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page_select">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&gt</a></li>
            {% endif %}
            {% if page_obj.has_other_pages %}
                <li class="middle">из</li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отсортировать</button>
    </form>
{% endblock content %}